extends layout

block content
    section.content.content-2      
      .mbr-section__container.container      
        .row.animated.fadeInUp   
            .col-sm-12.text-white
                .row
                    .col-sm-6
                        h1.btn-inverse Advertisement Database  
                    .col-sm-6
                        a.mbr-navbar__items--right.mbr-buttons__btn.btn.btn-warning(href='/aduploadpage') Upload
                        a.mbr-navbar__items--right.mbr-buttons__btn.btn.btn-warning(href='#') Analytics
                
                .alert.alert-success(role='alert') Here, you can find the list of ads and corresponding descriptions
                #displayusers.container
                    table.table
                        thead
                            tr
                                th Ad name
                                th Descriptions
                                th Tags                                
                                th View Ad
                                th Delete Ad
                        tbody
                            each adslist, index in adscollection
                                tr.btn-inverse
                                    td.col-md-2= adslist.adname
                                    td.col-md-4= adslist.description
                                    td.col-md-4= adslist.tags[0]                                    
                                    td.col-md-1
                                        a.mbr-buttons__btn.btn.btn-md.btn-default(href="/adprofile/#{adslist._id}")="view"
                                    td.col-md-1
                                        a.mbr-buttons__btn.btn.btn-md.btn-danger(href="/deleteadprofile/#{adslist._id}")="delete"
                                    

