extends layout

block setpagetitle
    title= Dashboard

block content
    section.content.content-2
      .mbr-overlay(style='opacity: 0.8; background-color: rgb(76, 105, 114);')
      .mbr-section__container.container      
        .row.animated.fadeInUp   
            .col-sm-12
                h1.text-white Profile Page
                .alert.alert-success(role='alert') Welcome to ARGEL
                div.container
                    div.row
                        .panel.panel-primary 
                            .panel-heading User Profile: #{user.username}   
                                a.btn.btn-danger.btn-md(href="/editprofile/#{user._id}", role='button') Edit
                            .panel-body
                                ul.user-details
                                    li.text-black <b>Display Name: </b>#{user.username}
                                    li.text-black <b>Email: </b>#{user.email}
                                    li.text-black <b>Description: </b>#{user.description}
