extends layout

block content
    section.content.content-2      
      .mbr-section__container.container      
        .row.animated.fadeInUp   
            .col-sm-12.text-white
                h1 Profile Page
                .alert.alert-success(role='alert') Here, you can view profile details of users
                .container
                    .row
                        .panel.panel-primary 
                            .panel-heading User Profile: #{viewthisuser.username}   
                                a.btn.btn-danger.btn-md(href="/editprofile/#{viewthisuser._id}", role='button') Edit
                            .panel-body
                                ul.user-details
                                    li.text-black <b>Display Name: </b>#{viewthisuser.username}
                                    li.text-black <b>Email: </b>#{viewthisuser.email}
                                    li.text-black <b>Description: </b>#{viewthisuser.description}                
                            
